.home {
  transition: all 0.5s;
  background: linear-gradient(90deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
  .home_content {
    .home_content_1 {
      background: url('https://www.人活着就是为了麻衣学姐.com/pic/background.png') center center / cover no-repeat;
      background-size: 100%;
      display: flex;
      align-items: center;
      .home_content_1_1 {
        width: 100%;
        .home_content_1_1_1 {
          text-align: center;
          font-size: 0.5rem;
          color: #eee;
          font-weight: bold;
        }
        .home_content_1_1_2 {
          display: flex;
          justify-content: center;
          align-items: center;
          .home_content_1_1_2_1 {
            text-align: center;
            font-size: 0.3rem;
            color: #eee;
            line-height: 1.5;
          }
          .home_content_1_1_2_2 {
            text-align: center;
            font-size: 0.3rem;
            color: #eee;
            line-height: 1.5;
          }
        }
      }
      .home_content_1_2 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0.2rem;
        height: 0.2rem;
        cursor: pointer;
      }
    }
  }
}
