.home {
  height: 1100px;
  transition: all 0.5s;
  .home_content {
    .home_content_1 {
      background: url('https://www.人活着就是为了麻衣学姐.com/repository/background.png') center center / cover no-repeat;
      background-size: 100%;
    }
  }
}
